/* Reset some default styles for browsers */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #e85b33;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Adjust the width and padding to make the input elements shorter */
    width: calc(100% - 30px); /* Reduce the width by 30px */
    padding: 10px 15px; /* Maintain padding on the top and bottom and reduce side padding */
}

input[type="submit"] {
    background-color: #e85b33;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

a {
    color: #e85b33;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
